/autom4te.cache/
**/*.o
**/*.a
**/.deps
**/Makefile.in
/aclocal.m4
/ar-lib
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/Makefile
/missing
/ylwrap
