*.o
*.log
*~
*.a
*.eps
*.gnuplot
*.tmp
Makefile.in
*.dot
*.pdf
*.csv
*.tgz
aclocal.m4
autom4te.cache
configure
config.status
depcomp
install-sh
missing
\#*\#
src/its-ltl
src/testite
Makefile
*.mk
*.log
.deps
/usr/
/compile
/config.guess
/config.sub
/libtool
/ltmain.sh
/spot_linux_64.tar.gz
